<h1><%= current_user.username %>'s Bookshelf: <%= @books.length %> Books on the Shelf</h1>
<a href="/books/new">New Book!</a>
<br><br>

<div>

<% @books.each do |book| %>

<% bookmark = current_user.user_books.find_by(book_id: book.id)  %>
<form action="/books/<%= book.id %>" method="post">
<input type="hidden" name="_method" value="PATCH">
<ol>
    <li>Title: <%= book.title %></li>
    <li>Author: <%= book.author %></li>
    <li>Genre: <%= book.genre %></li>
    <li>Pages Read: <input type="number" name="bookmark[pages_read]" id="<%= bookmark.pages_read %>" value="<%= bookmark.pages_read %>"></li>
   <li>Read: <% if !bookmark.read %> Still reading <input type="checkbox" name="bookmark[read]" id="<%= bookmark.read %>" value="<%= 'checked' ? 1 : 0 %>"> Completed! <% else %> Completed! </li>
   <% end %>
</ol>

<input type="submit" value="Update">
</form>


<form action="/books/<%= book.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">
</form>
<br>

<% end %>


</div>