<center><h1><%= current_user.username %>'s Bookshelf: <%= current_user.books.length %> Books on the Shelf</h1></center>
<a href="/books/new">New Book!</a>
<br><br>

<% current_user.books.each do |book| %>
<% bookmark = current_user.bookmark(book.id) %>
<form action="/books/<%= book.id %>" method="post">
<input type="hidden" name="_method" value="PATCH">

<ol>
    <li>Title: <%= book.title %></li>
    <li>Author: <%= book.author %></li>
    <li>Genre: <%= book.genre %></li>
    <li>Pages Read: <input type="number" name="bookmark[pages_read]" id="<%= bookmark.pages_read %>" value="<%= bookmark.pages_read %>"></li>
   <li>Read: <% if !bookmark.read %> Still reading <input type="checkbox" name="bookmark[read]" id="<%= bookmark.read %>" value="<%= 'checked' ? 1 : 0 %>"> Completed! <% else %> Completed! </li>
   <% end %>
</ol>

<input type="submit" value="Update">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
<br>
<% end %>